.workoutComplete { 
    background: green;

}

.workoutIncomplete { 
    background: red; 
}

.workoutButton{
    height:5rem;
    width: 5rem;
    margin: 1rem;
    border-radius: 10%;
    font-weight: bold;
    font-size: larger;
}

.workoutButton:hover{
    filter: brightness(85%);
}

.card{
    width: 20rem;
    margin: auto;
}

.bottom-buffer{
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    
}
